$font-family-base: "Roboto", sans-serif;
$font-family-login: "Roboto","Helvetica","Arial",sans-serif;


$font-size-base: 0.95rem;
$badge-font-size: 0.95rem;

$primary: #4040c8;
$secondary: #dae1e7;
$success: #51d88a;
$info: #bcdefa;
$warning: #fff382;
$danger: #ef5753;
$white: #fff;

$body-bg: #edf1f3;
$border: #00000020;

$btn-focus-width: 0;
$sidebar-nav-color: #2a5164;
$sidebar-icon-color: #c3cbd3;

$title-address: #333;
$price: #000;
$rent-badge: #93f;
$sale-badge: #c00;
$type-property: #869099;
$green-price: #4ad200