@import "~bootstrap/scss/bootstrap";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";
@import "./variables";

body {
  font-family: $font-family-base;
  background: #f9f9f9;
  color: #666;
}

.login-page {
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  opacity: 1;
  background: default;
  color: #344767;
  border-radius: none;
  box-shadow: none;
  overflow-x: hidden;
}

.bg-login {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
  background-image: linear-gradient(
      195deg,
      rgba(66, 66, 74, 0.6),
      rgba(25, 25, 25, 0.6)
    ),
    url(http://www.whatsoninsainttropez.com/wp-content/uploads/2017/05/properties2.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-background-position: center;
  background-position: center;
  background-repeat: no-repeat;
}

.root-login {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  background: transparent;
  color: #344767;
  border-radius: none;
  box-shadow: none;
}

.content-login {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: calc(100% + 8px);
  margin-left: -8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.body-login {
  padding: 2rem;
}

.navigate-link {
  margin: 0;
  font-family: $font-family-base;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0.02857em;
  opacity: 1;
  text-transform: none;
  vertical-align: unset;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #1a73e8;
  font-weight: 600;
  background-image: linear-gradient(195deg, #49a3f1, #1a73e8);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  z-index: 1;
}

.content-properties {
  padding-top: 1rem;
  padding-bottom: 3rem;
  div.content-mapa {
    margin-bottom: 2rem;
    // border: solid 1px $sidebar-nav-color;
  }
  .property-carrusel {
    position: relative;
    color: $white;
    overflow: hidden;
    max-height: 200px;
    //margin-left: -4px;
    //margin-right: -4px;
    img {
      height: 200px;
    }
  }
}

.card-property {
  margin-bottom: 30px;
}

.card-property-body {
  padding: 0;

  .amenity-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $border;
    text-align: center;
    font-family: $font-family-base;
    font-size: 16px;
  }
  .property-info {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    .title {
      font-size: 16pt;
      color: $title-address;
      padding-bottom: 4px;
      margin: 0 0 5px;
      line-height: 16pt;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .price {
      color: $price;
      font-size: 15px;
      font-weight: 500;
    }
    p {
      margin: 0 0 0.2em;
      font-size: 10pt;
      color: #999;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.property-actions {
  border: 1.5px solid #4ad200;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  button {
    background-color: transparent;
    border: none;
  }
}

.rent,
.sale {
  position: relative;
  padding: 0 0 0 12px;
}
.rent::after {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  content: "";
  position: absolute;
  left: 0;
  margin: 4px 0 0;
  top: 0;
  background: $rent-badge;
}

.sale::after {
  width: 7px;
  height: 7px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  content: "";
  position: absolute;
  left: 0;
  margin: 4px 0 0;
  top: 0;
  background: $sale-badge;
}

.content-carrousel {
  background-color: $type-property;
  position: relative;
  height: 507px;
  width: 100%;
}

.content-carrousel::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 270px;
  background-image: -webkit-linear-gradient(
    top,
    transparent 0,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-image: -o-linear-gradient(
    top,
    transparent 0,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-image: linear-gradient(
    to bottom,
    transparent 0,
    rgba(0, 0, 0, 0.8) 100%
  );
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#CC000000", GradientType=0);
  bottom: 0;
  left: 0;
  z-index: 1;
}

.back-property {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  cursor: pointer;

  .bottom-gallery {
    bottom: 30px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    color: $white;

    .price-gallery {
      font-size: 25px;
      font-weight: 400;
      color: $green-price;
    }
  }
  .bottom-gallery::after {
    clear: both;
    display: table;
    content: " ";
  }
}

.content-property-detail {
  padding-top: 3rem;
  padding-bottom: 3rem;
  .card {
    border-radius: 0 !important;
  }
  h2.title {
    font-size: 22pt;
    font-weight: 600;
    color: #333;
    margin: 0 0 20px;
    line-height: 1.1;
  }
  h2.title::after {
    content: "";
    width: 100px;
    border-top: 1px solid #999;
    display: block;
    margin: 11px 0 0;
  }

  .price {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin: 0 0 1px;
  }

  .type-property {
    font-size: 16px;
    color: $type-property;
    margin: 0 0 5px;
  }

  .property-feartures {
    margin-top: 3rem;
    .feature-items {
      text-align: center;
    }
    .col {
      height: 120px;
    }
  }

  h3.subtitle {
    margin: 0 0 10px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-align: left;
  }
}

.slider-content {
  padding: 19px 0 0;
  margin: 0 auto;
  border-top: 3px solid $white;
}
